.teaser{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.teaser iframe{
    position: absolute;
    width: 80%;
    height: 80%;   
}

.atmosphere{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.gallery {
    display: block;
    max-width: 900px;
    margin: auto;
}

.team-description{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #fff;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.about {
    height: 100vh;
}


.scene {
  display: flex;
  width: 100%;
  height: 100%;
  perspective: 700px;
  margin: 40px 0;
  justify-content: center;
  padding: 20px 20px 20px;
}

.card, .card2, .card3 {
    width: 260px;
    height: 260px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  float: left;
}

.card.is-flipped, .card2.is-flipped, .card3.is-flipped {
  transform: rotateY(180deg);
}

.card-face, .card2-face, .card3-face {
  position: absolute;
  width: 260px;
  height: 260px;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-face-front img, .card2-face-front img, .card3-face-front img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

.card-face-back, .card2-face-back, .card3-face-back {
  background: white;
  color: black;
  transform: rotateY(180deg);
  border-radius: 20px;
}



@media (max-width: 767px) {
    .atmosphere{
        display: flex;
        justify-content: center;
        font-size: 30px;
        color: #fff;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

    .teaser{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .teaser iframe{
        position: absolute;
        width: 90%;
        height: 90%;   
    } 
    .team-description{
      display: flex;
      justify-content: center;
      font-size: 30px;
      color: #fff;
      margin-top: 20vh;
      margin-bottom: 20vh;
  }

  }
    
@media (max-width:446px) {
    .atmosphere{
        display: flex;
        justify-content: center;
        font-size: 24px;
        color: #fff;
    }
}
